.allegry {
    .accordion {
        width: 100%;
        height: 700px;
        position: relative;
        border: 1px solid green;
        .image {
            display: block;
            height: inherit;
            float: left;
        }
    }
}
